<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex vs Grid</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>FLEX</h1>
    <div class="container flex">
        <div class="ligne">
            <div class="bloc one">
                <img src="https://placekitten.com/990/470?image=4" alt="">
            </div>
            <div class="bloc two">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas purus lacinia commodo dictum. Quisque dolor felis, luctus ut orci ornare, eleifend aliquet lectus. Nam dignissim cursus felis sed vehicula. Morbi a egestas tellus.</p>
                    <footer>
                        <img src="https://placekitten.com/66/66?image=4" alt="Chaton en avatar">
                        <span>Kitten Kat<br>Master of Universe</span>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="ligne align-right">
            <div class="bloc three">
                <img src="https://placekitten.com/360/380?image=4" alt="">
            </div>
            <div class="bloc four">
                <img src="https://placekitten.com/990/470?image=4" alt="">
            </div>
        </div>
    </div>
    <hr>
    <h1>GRID</h1>
    <div class="container grid">
        <img src="https://placekitten.com/990/470?image=4" alt="" class="bloc one">
        <blockquote class="bloc two">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas purus lacinia commodo dictum. Quisque dolor felis, luctus ut orci ornare, eleifend aliquet lectus. Nam dignissim cursus felis sed vehicula. Morbi a egestas tellus.</p>
            <footer>
                <img src="https://placekitten.com/66/66?image=4" alt="Chaton en avatar">
                <span>Kitten Kat<br>Master of Universe</span>
            </footer>
        </blockquote>
        <img src="https://placekitten.com/360/380?image=4" alt="" class="bloc three">
        <img src="https://placekitten.com/990/470?image=4" alt="" class="bloc four">
    </div>
    
</body>
</html>